*{
    margin: 0;
    padding: 0;
}
:root{
    --bg: aliceblue;
    --color: black;
}
body {
    /* background: blue; */
    font-family:  serif;
    font-size: large;
    background: black;
    color: aliceblue;
}
.logo {
    /* border: 2px solid blue; */
    /* min-height: 100%; */
    padding: 20px;

}
nav {
    display: flex;
    color: var(--bg);
    border-radius: 2px;
    border: 2px solid ;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.list {
    display: flex;
    /* border: 2px solid black; */
    flex-wrap: nowrap;
    flex-grow: 2;

    justify-content: flex-end;
}

.list ul {
    display: flex;
    /* border: 2px solid blue; */
    padding: 2px;
    list-style: none;
    
}
a {
    text-decoration: none;
    color: var(--bg);
}
.list ul li {
    padding: 10px;
    margin: 5px;
    transition: all 1s;
}
.list li:hover {
    color: rgb(9, 66, 66);
    background: blanchedalmond;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    /* height: 80px; */
}
header .title {
    font-size: 40px;
    font: 100 ;
    padding: 20px;
    margin: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
header .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    /* scale: 2; */
}

header .search input,header .search button {
    /* padding: 20px; */
    margin: 10px;
    outline: blanchedalmond;
    /* color: skyblue; */
    border-radius: 10px;
    border: 0;
    font-size: larger;

}
header .search input {
    background: var(--bg);
    width: 40%;
    border-radius: 100px 0 0 0 ;
    /* padding: 20px; */
    padding: 15px 40px;
    border: 2px dashed rgb(86, 195, 173);
}
input::placeholder{
    color: rgb(197, 88, 179);
}

input:focus::placeholder{
 color: var(--bg);   
 /* background: red; */
}
header .search button {
    display: none;
    border-radius: 50%;
    position: absolute;
}
.search-list-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    border-left: 2px solid rgb(162, 162, 246);
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 20px;
}
@media (max-width:700px) {
    .search-list-container {
        width: 90%;
    }
}
.search-list {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    border-bottom: 2px solid rgb(241, 124, 236);
    justify-content: space-between;
    color: rgb(4, 43, 43);
    transition: all 0.8s;
}
.search-list:hover {
    color: aqua;
    background: black;
}
.search-list span {
    position: relative;
    right: 0px;
    font: 300;
    color: aliceblue;
    padding: 2px;
    font-size: small;
    float: right;
    background-color: rgb(9, 66, 117);
    margin-right: 0px;
    margin-left: 20px;

}













.content {
    margin-top: 10px;
    /* padding: 10px; */
}
footer {
    text-align: center;
    padding: 10px;
    color: var(--bg);
    position: sticky;
    bottom: 0;
    border-top:  2px solid ;
}


.hidden {
    display: none;
}